/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;
#include "imx6qp.dtsi"

#define SPI_CS_GPIO
#include "imx6qdl-ravion-v2.dtsi"

/ {
	model = "ravion:cimc-no-video";
	compatible = "ravion,imx6qp", "fsl,imx6qp";

	/*
	 * Device specific regulators
	 */
	pwr_src: regulator_power {
		compatible = "regulator-fixed";
		regulator-name = "BATT_IN";
		/* FixMe: 5...8.4V input voltage */
		regulator-min-microvolt = <8400000>;
		regulator-max-microvolt = <8400000>;
		regulator-boot-on;
		regulator-always-on;
	};

	p5v_reg: regulator_5v0 {
		compatible = "regulator-fixed";
		regulator-name = "P5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	p3v3_reg: regulator_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "P3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	p12v_reg: regulator_12v {
		compatible = "regulator-fixed";
		regulator-name = "P12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on; /* XP61: enable/disable reg. */
	};

	va3v3_reg: regulator_3v3va {
		compatible = "regulator-fixed";
		regulator-name = "VA3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	pps {
		compatible = "pps-gpio";
		gpios	= <&gpio1  2 GPIO_ACTIVE_LOW>;		/* soDimm 055 */
	};

	gpio-keys {
		compatible = "gpio-keys";

		tangenta {
			label = "Tangenta";
			gpios = <&gpio3 15 GPIO_ACTIVE_LOW>;	/* soDimm 120 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
			wakeup-source;
		};

		/*
		 * MACRO[1..4] key code point to overcurrent@5v consumer
		 */
		oc1 {
			label = "OC1";
			gpios = <&gpio6  4 GPIO_ACTIVE_LOW>;	/* soDimm 085 */
			linux,code = <KEY_MACRO1>;
			wakeup-source;
		};

		oc2 {
			label = "OC2";
			gpios = <&gpio2 25 GPIO_ACTIVE_LOW>;	/* soDimm 110 */
			linux,code = <KEY_MACRO2>;
			wakeup-source;
		};

		oc3 {
			label = "OC3";
			gpios = <&gpio2 26 GPIO_ACTIVE_LOW>;	/* soDimm 112 */
			linux,code = <KEY_MACRO3>;
			wakeup-source;
		};

		oc4 {
			label = "OC4";
			gpios = <&gpio4 10 GPIO_ACTIVE_LOW>;	/* soDimm 154 */
			linux,code = <KEY_MACRO4>;
			wakeup-source;
		};
	};

	gpio-leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_uart1gpio>;
		compatible = "gpio-leds";

		pwr_ow {
			label = "PWR_OW";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;	/* soDimm 124 */
			default-state = "on";
		};

		stby_can {
			label = "STBY_CAN";
			gpios = <&gpio4  8 GPIO_ACTIVE_HIGH>;	/* soDimm 150 */
			default-state = "off";
		};

		pwr_mirs {
			label = "pwr::MIRS";
			gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "on";
		};

		pwr_vu {
			label = "pwr::VU";
			gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;	/* soDimm 025 */
			default-state = "on";
		};

		pwr_mfpou {
			label = "pwr::MFPOU";
			gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;	/* soDimm 027 */
			default-state = "on";
		};

		pwr_msns {
			label = "pwr::MSNS";
			gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;	/* soDimm 029 */
			default-state = "on";
		};

		pwr_vu1 {
			label = "pwr::VU1";
			gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;	/* soDimm 037 */
			default-state = "on";
		};

		pwr_vu2 {
			label = "pwr::VU2";
			gpios = <&gpio3 23 GPIO_ACTIVE_HIGH>;	/* soDimm 031 */
			default-state = "on";
		};

		pwr_5vext1 {
			label = "pwr::5V_EXT1";
			gpios = <&gpio6  3 GPIO_ACTIVE_HIGH>;	/* soDimm 059 */
			default-state = "on";
		};

		pwr_5vext2 {
			label = "pwr::5V_EXT2";
			gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;	/* soDimm 106 */
			default-state = "on";
		};

		pwr_5vext3 {
			label = "pwr::5V_EXT3";
			gpios = <&gpio2  0 GPIO_ACTIVE_HIGH>;	/* soDimm 111 */
			default-state = "on";
		};

		pwr_5vext4 {
			label = "pwr::5V_EXT4";
			gpios = <&gpio4  9 GPIO_ACTIVE_HIGH>;	/* soDimm 152 */
			default-state = "on";
		};

		ext_gpio {
			label = "ext::GPIO";
			gpios = <&gpio2 27 GPIO_ACTIVE_LOW>;	/* soDimm 114 */
			default-state = "on";
		};
	};
};

/*
 * Sound subsystem
 */
&ssi2	{	status = "okay";	};

/*
 * Video subsystems
 */
&hdmi {
	status = "disabled";	
};
/* TFT */
&tft_display_bus {
	status = "disabled";
};
/* LVDS */
&ldb {
		status = "disabled";
};

/*
 * Serial ports
 */
/* &uart1 {	status = "okay";	}; => Allways enabled */
&uart2 {
	status = "okay";

	bluetooth { /* DD19: CC2564CRVM */
		enable-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;	/* soDimm 115 */
		compatible = "ti,wl1271-st";
		clocks = <&clk_32k_bt 0>;
		clock-names = "ext_clock";
		max-speed = <3686400>;
		current-speed = <115200>;
		status = "okay";

		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		};
	};
};
&uart3 {
	status = "okay";
};

/*
 * Controller Area Network (CAN) Bus
 */
&can1 {
	status = "okay";
};

/*
 * I2C Busses
 */
&i2c2 {	/* Compatible I2C: soDimm 194, 196 */
	status = "okay";

	owc: ds2482@18 { /* DS2484: I2C to OneWire Converter */
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};

	battery@b {	/* SMBus battery */
		compatible = "ti,bq20z75", "sbs,sbs-battery";
		reg = <0xb>;
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <10>;
	};
};

&i2c3 { /* Extended I2C: soDimm 128, 130 */
	status = "okay";

	rtc@6f { /* ISL12020: I2C Real Time Clock (battery backup) */
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};

	tftmux@6a { /* DS92LV2411S - TFT bus to one diff-pair multiplexer */
		compatible = "ti,ds92lv2411s";
		reg = <0x6a>;
	};

	adv7280m@20 { /* ADV7280BCPZ - Composite video capture with MIPI interface */
		compatible = "adi,adv7280-m";
		powerdown-gpios = <&gpio2 11 GPIO_ACTIVE_LOW>;	/* soDimm 133 */
		reg = <0x20>;

		port {
			csi_sensor_out: endpoint {
				remote-endpoint = <&csi_port_in>;
				clock-lanes = <0>;
				data-lanes = <1>;
			};
		};
	};
};

&mipi_csi {
	status = "okay";

	port@0 {
		reg = <0>;
		csi_port_in: endpoint {
			remote-endpoint = <&csi_sensor_out>;
			clock-lanes = <0>;
			data-lanes = <1>;
		};
	};
};

/*
 * SPI Bus
 */
&ecspi1 {
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "okay";

	ks8851@0 {
		reg = <0>;
		compatible = "micrel,ks8851";
		interrupts-extended = <&gpio2 6 IRQ_TYPE_LEVEL_LOW>;   /* soDimm123 */
		vdd-supply = <&p5v_reg>;
		vdd-io-supply = <&p3v3_reg>;
		spi-max-frequency = <25000000>; /* 25MHz, max 40MHz */
       };
};

/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 {	status = "okay";	}; /* compatible */
&usdhc2 {	status = "disabled";	}; /* externed */
/* &usdhc3 {	status = "okay";	}; => eMMC allways enabled */

/*
 * Ethernet controller
 */
/* &fec {	status = "okay";	}; => eth0 allways enabled */

/*
 * Audio (digital part)
 */
/* &audmux {	status = "okay";	}; => Allways enabled */
/* &ssi1 {	status = "okay";	}; => Allways enabled */

/*
 * High-speed serial bus
 */

&sata {
	status = "okay";
};

/* &usbh1 {	status = "okay";	}; HOST => Allways enabled */

&usbotg	{ /* OTG */
	status = "okay";
};

&usbh3 { /* HSIC */
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

/*
 * PWMs
 */
&pwm3	{	status = "disabled";	};
&pwm4	{	status = "disabled";	};
