// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-trustphonepm-r1.5.dtsi"

/ {
	model = "Trustphone PM r1.5, Trustphone CB r1.1";
	compatible = "elvees,trustphonepm-r1.5-trustphonecb-r1.1",
		     "elvees,trustphonepm-trustphonecb",
		     "elvees,trustphonecb-r1.1",
		     "elvees,trustphonecb",
		     "elvees,trustphonepm-r1.5",
		     "elvees,trustphonepm",
		     "elvees,mcom03";

	adv7513_cec_clk: adv7513_cec_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
	};
};

&uart0 {
	status = "okay";
};

/* GPIO lines are named after their connection name either on Trusphone PM or
 * on Trusphone CB. */
&gpio0a {
	gpio-line-names = "BT_UART_RX", "BT_UART_TX", "BT_UART_CTS", "HDMI_INT",
		"RTC_MFP", "PMIC1_INTB", "RGMII_INT", "BT_UART_RTS";
};

&gpio0b {
	gpio-line-names = "CHG_EN", "CHG_DSEL", "CHG_QON", "CHG_STATUS", "TE",
		"UART1_RX", "UART1_TX", "UART2_RX";
};

&gpio0c {
	gpio-line-names = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO", "D_GPIO",
		"SPI0_nCS_FP", "SPI0_nCS_CUT", "SPI0_nCS_GYRO", "SPI0_nCS_GNSS";
};

&gpio0d {
	gpio-line-names = "UART2_TX", "DSP_HWEN", "CAMR_PWDN", "I2C0_SCL",
		"I2C0_SDA", "I2C0_ALERT", "CAMF_PWDN", "EN_CAMF_CLK";
};

&gpio1a {
	gpio-line-names = "I2C1_SCL", "I2C1_SDA", "BT_HOST_WAKE",
		"WL_HOST_WAKE", "INT_EXP_INT", "TPS_INT", "CHG_INT",
		"PWR_BUT_INT";
};

&gpio1b {
	gpio-line-names = "I2S0_SCLKO", "I2S0_WSO", "I2S0_SDO0", "I2S0_SDO1",
		"I2S0_SDI", "I2S0_SCLK_IN", "UART0_TX", "UART0_RX";
};

&gpio1c {
	gpio-line-names = "EN_CAMR_CLK", "BT_DEV_WAKE", "CSI_SEL", "CSI_nOE",
		"WIFI_nPWD", "RGMII_nRESET", "WL_DEV_WAKE", "";
};

&gpio1d {
	gpio-line-names = "CAMR2_FSIN", "", "DSP_PWM", "VIBRO_PWM",
		"LTE_PWR_ON", "LTE_AP_READY", "D_RAIL_EN", "GPS_SAFEBOOT";
};

/* Connected to USB hub */
&usb1 {
	status = "okay";
};

&i2c4 {
	/* Not all devices are checked to 400kHz support */
	clock-frequency = <100000>;
	status = "okay";

	adv7513: hdmi@39 {
		compatible = "adi,adv7513";
		reg = <0x39>, <0x3f>;
		reg-names = "main", "edid";
		interrupt-parent = <&gpio0a>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		clocks = <&adv7513_cec_clk>;
		clock-names = "cec";
		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			adv7513_in: endpoint {
				remote-endpoint = <&rgb_out>;
			};
		};
	};
};

&i2c1 {
	/* Not all devices are checked to 400kHz support */
	clock-frequency = <100000>;
	status = "okay";

	/* DD29 */
	tca9554_0: gpio-expander@3c {
		compatible = "ti,tca9554";
		reg = <0x3c>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio1a>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	/* DD30 */
	tca9554_1: gpio-expander@3e {
		compatible = "ti,tca9554";
		reg = <0x3e>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&emac0 {
	status = "okay";
};

&dp {
	status = "okay";
};

&display_encoder {
	status = "okay";
	video-output = "rgb";

	ports {
		port@2 {
			reg = <2>;

			rgb_out: endpoint {
				remote-endpoint = <&adv7513_in>;
			};
		};
	};
};
