// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/mfd/arizona.h>
#include <dt-bindings/input/linux-event-codes.h>

#include "mcom03-trustphonepm-r2.1.dtsi"

/ {
	model = "Trustphone PM r2.1, Trustphone CB r2.0";
	compatible = "elvees,trustphonepm-r2.1-trustphonecb-r2.0",
		     "elvees,trustphonepm-trustphonecb",
		     "elvees,trustphonecb-r2.0",
		     "elvees,trustphonecb",
		     "elvees,trustphonepm-r2.1",
		     "elvees,trustphonepm",
		     "elvees,mcom03";

	aliases {
		i2c5 = &i2c_camr;
		i2c6 = &i2c_camf;
	};

	trustphonecb-leds {
		compatible = "gpio-leds";

		red {
			gpios = <&mfbsp1_gpio 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		green {
			gpios = <&mfbsp1_gpio 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		blue {
			gpios = <&mfbsp1_gpio 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	trustphonecb_gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_button_cfg_default &gpio_pwr_button_mux>;

		power-button {
			label = "Power button";
			linux,code = <KEY_POWER>;
			interrupts-extended = <&gpio1a 7 IRQ_TYPE_LEVEL_LOW>;
		};

		volume-up {
			label = "Volume up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&tca9554_0 6 GPIO_ACTIVE_LOW>;
		};

		volume-down {
			label = "Volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&tca9554_0 7 GPIO_ACTIVE_LOW>;
		};
	};

	/* regulator@0 is described in mcom03-trustphonepm-r2.1.dtsi */
	wm8998_supply_core: regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "wm8998-supply-core";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	wm8998_supply_speaker: regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "wm8998-supply-speaker";
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		regulator-always-on;
	};

	sdhci1_supply: regulator@3 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci1-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	wifi_pwrseq: pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio1c 4 GPIO_ACTIVE_HIGH>;
		post-power-on-delay-ms = <500>;
		power-off-delay-us = <500>;
	};

	soundcard@0 {
		compatible = "elvees,trustphone-wm8998";

		model = "Trustphone WM8998";

		elvees,audio-routing =
			"Modem Out", "Modem TX",
			"Modem RX", "Modem In",
			"AIF2 Capture", "Modem Out",
			"Modem RX", "AIF2 Playback",
			"IN2B", "MICBIAS1",
			"IN1BL", "MICVDD";

		cpu {
			sound-dai = <&i2s0>;
		};

		codec {
			sound-dai = <&wm8998>;
		};
	};
};

&i2s0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	num-cs = <4>;
	cs-gpios = <&gpio0c 4 GPIO_ACTIVE_LOW>, <&gpio0c 5 GPIO_ACTIVE_LOW>,
		   <&gpio0c 6 GPIO_ACTIVE_LOW>, <&gpio0c 7 GPIO_ACTIVE_LOW>;

	/* DD22 */
	mcp23s08: gpio-expander@1 {
		compatible = "microchip,mcp23s08";
		reg = <1>;
		#gpio-cells = <2>;
		gpio-controller;

		/* Maximum frequency is 5 MHz if VDD=1.8V */
		spi-max-frequency = <5000000>;
		microchip,spi-present-mask = <0x1>;
		gpio-line-names = "CAMR_CUT", "CAMF_CUT", "WIFI_CUT",
				  "SPEAKER_CUT", "MIC_CUT", "GIRO_CUT",
				  "GPS_CUT", "VIBRO_CUT";
	};

	lsm6dsx: imu@2 {
		compatible = "st,lsm6dsm";
		reg = <2>;
		// Maximum is 10 MHz, but lower here due to bad MISO signal
		spi-max-frequency = <2000000>;

		interrupt-parent = <&tca9554_0>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
	};

	/* DD12 */
	gnss@3 {
		compatible = "u-blox,zoe-m8b-spi";
		reg = <3>;
		spi-max-frequency = <1000000>;
	};
};

/* GPIO lines are named after their connection name either on Trusphone PM or
 * on Trusphone CB. */
&gpio0a {
	gpio-line-names = "BT_UART_RX", "BT_UART_TX", "BT_UART_CTS", "HDMI_INT",
		"RTC_MFP", "PMIC1_INTB", "RGMII_INT", "BT_UART_RTS";
};

&gpio0b {
	gpio-line-names = "CHG_EN", "CHG_DSEL", "CHG_QON", "CHG_STATUS", "TE",
		"UART1_RX", "UART1_TX", "UART2_RX";
};

&gpio0c {
	gpio-line-names = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO", "LTE_AP_READY",
		"SPI0_nCS_FP", "SPI0_nCS_CUT", "SPI0_nCS_GYRO", "SPI0_nCS_GNSS";
};

&gpio0d {
	gpio-line-names = "UART2_TX", "DSP_HWEN", "CAMR_PWDN", "I2C0_SCL",
		"I2C0_SDA", "I2C0_ALERT", "CAMF_PWDN", "EN_CAMF_CLK";
};

&gpio1a {
	gpio-line-names = "I2C1_SCL", "I2C1_SDA", "BT_HOST_WAKE",
		"WL_HOST_WAKE", "INT_EXP_INT", "TPS_INT", "CHG_INT",
		"PWR_BUT_INT";

	gpio_pwr_button_mux: pwr-button {
		gpio {
			groups = "pin7";
		};
	};
};

&gpio1b {
	gpio-line-names = "I2S0_SCLKO", "I2S0_WSO", "I2S0_SDO0", "I2S0_SDO1",
		"I2S0_SDI", "I2S0_SCLK_IN", "UART0_TX", "UART0_RX";
};

&gpio1c {
	gpio-line-names = "EN_CAMR_CLK", "BT_DEV_WAKE", "CSI_SEL", "CSI_nOE",
		"WIFI_nPWD", "RGMII_nRESET", "WL_DEV_WAKE", "";
};

&gpio1d {
	gpio-line-names = "CAMR2_FSIN", "", "DSP_PWM", "VIBRO_PWM",
		"LTE_PWR_ON", "D_GPIO", "D_RAIL_EN", "GPS_SAFEBOOT";

	/* GPS_SAFEBOOT is used to choose GNSS receiver mode: normal (high
	 * level) or QSPI programming. Move GNSS receiver to 'normal mode'.
	 */
	gps-safeboot-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

/* Connected to Type-C receptable */
&usb0 {
	status = "okay";

	dwc3@10000000 {
		#address-cells = <1>;
		#size-cells = <0>;
		dr_mode = "otg";
		usb-role-switch;

		port@0 {
			reg = <0>;
			dwc3_endpoint: endpoint {
				remote-endpoint = <&tps65982_endpoint>;
			};
		};
	};
};

&sdhci1 {
	status = "okay";
	non-removable;
	bus-width = <4>;
	vqmmc-supply = <&sdhci1_supply>;
	xlnx,fails-without-test-cd;
	mmc-pwrseq = <&wifi_pwrseq>;
};

/* Connected to USB hub */
&usb1 {
	status = "okay";
};

/* pinctrl driver doesn't enable pad receiver when GPIO pin is requested as an
 * interrupt. This is a workaround for this issue.
 */
&lsperiph1_pinctrl {
	tca9554_0_default: tca9554_0-cfg {
		pins = "GPIOA_4";
		input-enable;
	};

	pwr_button_cfg_default: gpioa1-power-cfg {
		pins = "GPIOA_7";
		input-enable;
	};

	tps65982_default: tps65982-cfg {
		pins = "GPIOA_5";
	};

	bq25895_default: bq25895_default-cfg {
		pins = "GPIOA_6";
		input-enable;
	};

	pwm0_cfg_default: pwm0-cfg {
		pins = "GPIOD_3";
		drive-strength = <4>;
		slew-rate = <3>;
	};
};

&i2c01 {
	/* DA41 */
	wm8998: audio-codec@1a {
		compatible = "wlf,wm8998";
		reg = <0x1a>;
		interrupts-extended = <&tca9554_0 1 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		reset-gpios = <&tca9554_1 7 0>;
		#sound-dai-cells = <0>;

		AVDD-supply = <&wm8998_supply_core>;
		CPVDD-supply = <&wm8998_supply_core>;
		DBVDD1-supply = <&wm8998_supply_core>;
		DBVDD2-supply = <&wm8998_supply_core>;
		DBVDD3-supply = <&wm8998_supply_core>;
		LDOVDD-supply = <&wm8998_supply_core>;
		SPKVDDL-supply = <&wm8998_supply_speaker>;
		SPKVDDR-supply = <&wm8998_supply_speaker>;

		wlf,inmode = <1 1 1 1>;
		wlf,clk32k-source = <ARIZONA_32KZ_NONE>;
	};

	tps65982: typec-controller@3f {
		compatible = "ti,tps6598x";
		reg = <0x3f>;

		interrupt-parent = <&gpio1a>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";

		pinctrl-names = "default";
		pinctrl-0 = <&tps65982_default>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				tps65982_endpoint: endpoint {
					remote-endpoint = <&dwc3_endpoint>;
				};
			};
		};
	};

	max17055: battery-indicator@36 {
		compatible = "maxim,max17055";
		reg = <0x36>;
		maxim,rsns-microohm = <10000>;
		maxim,over-heat-temp = <600>;
		maxim,over-volt = <4300>;
	};

	bq25890: charger@6a {
		compatible = "ti,bq25890";
		reg = <0x6a>;
		interrupt-parent = <&gpio1a>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&bq25895_default>;

		// for Robiton Li-Polymer LP855080 battery
		ti,battery-regulation-voltage = <4200000>;
		ti,charge-current = <4100000>;
		ti,termination-current = <41000>;
		ti,precharge-current = <128000>;
		ti,minimum-sys-voltage = <3400000>;
		ti,boost-voltage = <5000000>;
		ti,boost-max-current = <2400000>;

		ti,use-ilim-pin;
		ti,thermal-regulation-threshold = <70>;
	};
};

&i2c1 {
	/* Not all devices are checked to 400kHz support */
	clock-frequency = <100000>;
	status = "okay";

	/* DD24 */
	tca9554_0: gpio-expander@3c {
		compatible = "ti,tca9554";
		reg = <0x3c>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio1a>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-line-names = "GYRO_INT", "AUD_INT", "FP_INT", "FG_ALRT",
				  "PROX_INT", "TOUCH_INT", "VOLUME_UP",
				  "VOLUME_DOWN";

		pinctrl-names = "default";
		pinctrl-0 = <&tca9554_0_default>;
	};

	/* DD25 */
	tca9554_1: gpio-expander@3e {
		compatible = "ti,tca9554";
		reg = <0x3e>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "HRESET", "D_RESET", "TOUCH_RESET",
				  "CAMR1_RESET", "CAMR2_RESET", "CAMF_RESET",
				  "USB2SD_RESET", "AUD_nRESET";
	};

	/* DD26 */
	i2c-switch@74 {
		compatible = "ti,tca9546", "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;

		i2c_camr: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c_camf: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
	};

	apds9930: sensor@39 {
		compatible = "avago,apds9930";
		reg = <0x39>;
		interrupts-extended = <&tca9554_0 4 IRQ_TYPE_EDGE_FALLING>;
		amstaos,proximity-diodes = <0 1>;
		led-max-microamp = <100000>;
	};

	tps61050: flash@33 {
		compatible = "ti,tps61050";
		reg = <0x33>;

		flash {
			compatible = "ti,tps6105x-flash";
			ti,edge-sensitive;
			label = "flash-led";
			led-max-microamp = <500000>;
			flash-max-microamp = <1200000>;
			flash-max-timeout-us = <900000>;
		};
	};
};

&hsperiph_pinctrl {
	pinctrl-0 = <&hsperiph_misc_default &emac_v18>;
};

&emac0 {
	status = "okay";
};

&adv7513 {
	status = "okay";

	port@0 {
		reg = <0>;
		adv7513_in: endpoint {
			remote-endpoint = <&rgb_out>;
		};
	};
};

&display_encoder {
	status = "okay";
	video-output = "rgb";

	ports {
		port@2 {
			reg = <2>;

			rgb_out: endpoint {
				remote-endpoint = <&adv7513_in>;
			};
		};
	};
};

&dp {
	status = "okay";
};

&isp {
	status = "okay";
};

&csi0 {
	status = "okay";
};

&csi1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&mfbsp0_gpio {
	status = "okay";

	gpio-line-names = "", "SPIc_CLK", "SPIc_nCS1", "SPIc_nCS0",
		"SPIc_MISO", "SPIc_MOSI", "", "SWITCH_SPI", "SWITCH_SPI_BTN",
		"AUD_LDOEN", "", "", "", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "", "";

	gpio-reserved-ranges = <0 7>, <10 22>;
};

&mfbsp1_gpio {
	status = "okay";

	gpio-line-names = "", "CUTTER_nRST", "FLASH_SYNC", "FLASH_GPIO",
		"RGB_INDC_R", "RGB_INDC_G", "RGB_INDC_B", "LTE_nRESET",
		"GPS_nRESET", "FP_nRST", "", "", "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "", "", "", "", "";

	gpio-reserved-ranges = <0 1>, <10 22>;
};

&pwm {
	status = "okay";
	elvees,output-channel = <1 0 0 0>;
	elvees,state-on-disable = <1 0 0 0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pwm_oenb0_mux &pwm0_cfg_default>;
};
