// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 RnD Center "ELVEES", JSC
 */

/ {
	i2c4: i2c@1f090000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,designware-i2c";
		reg = <0 0x1f090000 0 0x10000>;
		clocks = <&service_ucg1 SERVICE_I2C4_EXT_CLK>;
		interrupt-parent = <&qlic0>;
		interrupts = <37>;
		i2c-sda-hold-time-ns = <300>;
		status = "disabled";
	};
};

&qlic0 {
	status = "okay";
};
