// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-trustphonepm-r1.5-trustphonecb-r1.1.dts"

/ {
	dsi_backlight: dsi-backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio0c 3 GPIO_ACTIVE_HIGH>;
		default-on;
	};
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	ft5606: touchscreen@3e {
		/* FT5606 is compatible with FT5506 */
		compatible = "edt,edt-ft5506";
		reg = <0x3e>;
		interrupt-parent = <&tca9554_0>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tca9554_1 2 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <768>;
		touchscreen-size-y = <1024>;
		touchscreen-x-mm = <135>;
		touchscreen-y-mm = <216>;
		touchscreen-swapped-x-y;
		touchscreen-inverted-y;
	};
};

&i2c4 {
	/delete-node/ hdmi@39;
};

&display_encoder {
	video-output = "dsi";
	dsi-clock-frequency = <500000000>;

	dsi-panel@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "auo,b101uan01";
		reg = <0>;
		backlight = <&dsi_backlight>;
		enable-gpios = <&tca9554_1 1 GPIO_ACTIVE_HIGH>;

		ports {
			port {
				panel_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};
		};
	};

	ports {
		/delete-node/ port@2;

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};
