// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-trustphonepm-r1.5-trustphonecb-r1.1.dts"

/ {
	display_regulator: fixed-regulator {
		compatible = "regulator-fixed";
		regulator-name = "display-supply";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
		gpio = <&gpio1d 6 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <1000>;
		enable-active-high;
	};
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	lm36922: backlight@36 {
		compatible = "ti,lm36922-bl";
		reg = <0x36>;
		#address-cells = <1>;
		#size-cells = <0>;
		enable-gpios = <&gpio0d 1 GPIO_ACTIVE_HIGH>;
		ti,ovp-microvolt = <25000000>;

		led@1 {
			reg = <1>;
			led-max-microamp = <20000>;
			default-brightness-level = <255>;
		};
	};

	ft8006: touchscreen@38 {
		compatible = "focaltech,ft8006";
		reg = <0x38>;
		interrupt-parent = <&tca9554_0>;
		interrupts = <5 IRQ_TYPE_EDGE_BOTH>;
		reset-gpios = <&tca9554_1 2 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1600>;
		touchscreen-x-mm = <70>;
		touchscreen-y-mm = <157>;
		power-supply = <&display_regulator>;
	};
};

&i2c4 {
	/delete-node/ hdmi@39;
};

&display_encoder {
	video-output = "dsi";
	dsi-clock-frequency = <400000000>;

	dsi-panel@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "xingliang,xl6550050qm30";
		reg = <0>;
		backlight = <&lm36922>;
		reset-gpios = <&tca9554_1 1 GPIO_ACTIVE_LOW>;
		power-supply = <&display_regulator>;

		ports {
			port {
				panel_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};
		};
	};

	ports {
		/delete-node/ port@2;

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};
