// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/net/ti-dp83867.h>

#include "mcom03.dtsi"

/ {
	model = "EGW-PM r1.0";
	compatible = "elvees,egwpm-r1.0",
		     "elvees,egwpm",
		     "elvees,mcom03";

	egwpm-leds {
		compatible = "gpio-leds";

		/* Red LED not described due to hardware bug MCOM03HW-1031 */

		green {
			gpios = <&gpio0b 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		blue {
			gpios = <&gpio0d 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		orange {
			gpios = <&gpio0d 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	recovery: recovery-gpio-key {
		compatible = "gpio-keys-polled";
		poll-interval = <1000>;
		status = "disabled";

		force-recovery {
			label = "Force recovery";
			gpios = <&gpio1c 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VENDOR>;
		};
	};


	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

/* TODO: How to distinguish internal lines from external? How to distinguish
 *       hardware function from GPIO? */
&gpio0a {
	gpio-line-names = "GBE0_PD_INT", "GBE1_PD_INT", "PINTn", "GPIO9",
		"GPIO8", "GPIO7", "GPIO10", "PEWARN";
};

&gpio0b {
	gpio-line-names = "GPIO12", "LED_GREEN", "PCIE_A_RST#", "",
		"GPIO11", "SER3_RX", "SER3_TX", "SER2_RX";

	pci-perstn {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio0c {
	gpio-line-names = "SPI0_CK", "SPI0_DO", "SPI0_DIN", "LED_RED",
		"SPI0_CS0#", "SPI0_CS1#", "GPIO13", "RGMII_1_RST#";
};

&gpio0d {
	gpio-line-names = "SER2_TX", "USB_HUB_RST", "LED_ORANGE", "I2C0_SCL",
		"I2C0_SDA", "I2C0_SMBALERT", "RGMII_0_RST#", "LED_BLUE";

	reset-usb2517-hub-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&gpio1a {
	gpio-line-names = "I2C1_SCL", "I2C1_SDA", "I2C2_SCL", "I2C2_SDA",
		"", "", "", "RTC_INT";
};

&gpio1b {
	gpio-line-names = "", "", "", "TEST#",
		"", "PFSOB", "SER1_TX", "SER1_RX";
};

&gpio1c {
	gpio-line-names = "GPIO0", "GPIO4", "GPIO2", "GPIO3",
		"GPIO1", "CARRIER_PWR_ON", "FORCE_RECOV#", "SLEEP#";
};

&gpio1d {
	gpio-line-names = "CARRIER_STBY#", "", "PWM_OUT", "LCD0_BKLT_PWM",
		"", "PSTANDBY", "GPIO6", "RESET_OUT#";
};

&hsperiph_pinctrl {
	pinctrl-0 = <&hsperiph_misc_default &emac_v18>;
};

/* Connected to USB 2.0 hub */
&usb1 {
	status = "okay";
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};
};

i2c_gp: &i2c2 {
	status = "okay";
	clock-frequency = <400000>;

	eeprom@50 {
		compatible = "microchip,24c32", "atmel,24c32";
		reg = <0x50>;
	};
};

&emac0 {
	phy-handle = <&ethernet_phy0>;
	reset-gpios = <&gpio0d 6 GPIO_ACTIVE_LOW>;
	reset-post-delay-us = <200>;

	ethernet_phy0: ethernet-phy@4 {
		reg = <0x4>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&emac1 {
	phy-handle = <&ethernet_phy1>;
	reset-gpios = <&gpio0c 7 GPIO_ACTIVE_LOW>;
	reset-post-delay-us = <200>;

	ethernet_phy1: ethernet-phy@5 {
		reg = <0x5>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};
