
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6qp.dtsi"
#include "imx6qdl-ravion.dtsi"

/ {
	model = "ravion:router";
	compatible = "ravion,mcp", "fsl,imx6qp";

	/*
	 * Device specific leds
	 */
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		w1 {
			label = "W1";
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		nreset {
			label = "nRESET";
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		charge_red {
			label = "charge_red";
			gpios = <&gpio5 6 GPIO_ACTIVE_LOW>; /* soDimm77 - GPIO4 */
			default-state = "off";
		};

		charge_green {
			label = "charge_green";
			gpios = <&gpio2 10 GPIO_ACTIVE_LOW>; /* soDimm30 - GPIO5 */
			default-state = "off";
		};

		charge_blue {
			label = "charge_blue";
			gpios = <&gpio2 13 GPIO_ACTIVE_LOW>; /* soDimm100 - GPIO6 */
			default-state = "off";
		};

		status_red {
			label = "status_red";
			gpios = <&gpio2 14 GPIO_ACTIVE_LOW>; /* soDimm102 - GPIO7 */
			default-state = "off";
		};

		status_green {
			label = "status_green";
			gpios = <&gpio2 23 GPIO_ACTIVE_LOW>; /* soDimm104 - GPIO8 */
			default-state = "off";
		};

		status_blue {
			label = "status_blue";
			linux,default-trigger = "heartbeat";
			gpios = <&gpio4 7 GPIO_ACTIVE_LOW>; /* soDimm134 - GPIO9 */
			default-state = "on";
		};
	};

	/*
	 * Device specific keys
	 */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio5 20 GPIO_ACTIVE_LOW>; /* SODIMM 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};

		status {
			label = "Status";
			gpios = <&gpio1 9 GPIO_ACTIVE_LOW>; /* soDimm69 - GPIO3 */
			linux,code = <KEY_F1>;
			debounce-interval = <100>;
		};

		tangenta {
			label = "Tangenta";
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>; /* soDimm63 - GPIO2 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
		};
	};

	/*
	 * PPS pin from SNS receiver
	 */
	pps {
		compatible = "pps-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps_gpio>;

		gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>; /* soDimm 55 - GPIO1 board */
		assert-falling-edge;
		status = "okay";
	};
};

/*
 * Display subsystem
 */
&hdmi		 {	status = "okay"; };

/*
 * Compatible I2C: I2C2_SDA/SCL on SODIMM 194/196
 */
&i2c2 {
	status = "okay";

	/* Composite video capture interface */
	cvbs: adv7280@20 {
		reg = <0x20>;
		compatible = "adv7280", "adi,adv7280";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adv7280>;
		interrupt-parent = <&gpio4>;
		interrupts = <30 IRQ_TYPE_LEVEL_LOW>;
		powerdown-gpios = <&gpio4 31 GPIO_ACTIVE_LOW>;
		input-names = "Ain1","Ain2","Ain3","Ain4";
		inputs = <0x00 0x01 0x02 0x03>;
		status = "okay";

		port {
			adv7280_ep: endpoint {
				remote-endpoint = <&ipu1_csi0_mux_from_parallel_sensor>;
				bus-width = <8>;
			};
		};
	};

	/* DS2484: I2C to OneWire Converter */
	owc: ds2482@18 {
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};
};

&ipu1_csi0_mux_from_parallel_sensor {
	remote-endpoint = <&adv7280_ep>;
};

&ipu1_csi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ipu1_csi0>;
};

&uart1 { status = "okay"; }; /* default full feature uart */

/* external (compatible) mmc card */
&usdhc1 { status = "okay"; };

/* Board specific io muxing */
&iomuxc {
	pinctrl_adv7280: gpio-adv7280 {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT9__GPIO4_IO30	0x1b0b0	/* soDimm71  CIF_DATA0 - CIF_IRQn */
			MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31	0x0f058	/* soDimm98  CIF_DATA1 - CIF_nPWRDN */
		>;
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07	0xf058 /* soDimm87: nRESET_OUT  */
			MX6QDL_PAD_SD4_DAT0__GPIO2_IO08		0xf058 /* soDImm127: SLPZ@DS2484R */
			MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06	0xf058 /* PU_22K soDimm 77,  GPIO4 */
			MX6QDL_PAD_SD4_DAT2__GPIO2_IO10		0xf058 /* PU_22K soDimm 30,  GPIO5 */
			MX6QDL_PAD_SD4_DAT5__GPIO2_IO13		0xf058 /* PU_22K soDomm 100, GPIO6 */
			MX6QDL_PAD_SD4_DAT6__GPIO2_IO14		0xf058 /* PU_22K soDimm 102, GPIO7 */
			MX6QDL_PAD_EIM_CS0__GPIO2_IO23		0xf058 /* PU_22K soDimm 104, GPIO8 */
			MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0xf058 /* PU_22K soDimm 134, GPIO9 */
		>;
	};

	pinctrl_gpio_keys: gpio-keys {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x1b0b0	/* Power button */
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0 /* soDimm69,  GPIO3 */
			MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1b0b0 /* soDimm63,  GPIO2 */
		>;
	};

	pinctrl_pps_gpio: gpiopps {
		fsl,pins = <
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1b0b0 /* soDimm 55 */
		>;
	};
};
