
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6qp.dtsi"
#include "imx6qp-ravion.dtsi"

/ {
	model = "Ravion200 I.MX6QP on Radioavionica CIMC Lite Board";
	compatible = "ravion,cimc-lite", "ravion,imx6qp", "fsl,imx6qp";

	/*
	 * Device specific clocks
	 */
	clocks {
		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		 };
	};

	/*
	 * Device specific regulators
	 */
	bt_vio_reg: bt_vio {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_bt>;
			compatible = "regulator-fixed";
			regulator-name = "VIO_BT";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio2 2 GPIO_ACTIVE_LOW>; /* SODIMM 115*/
			regulator-always-on;
			vin-supply = <&p3v3_reg>;
	};

	cif_vio_reg: cif_vio {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_cif>;
			compatible = "regulator-fixed";
			regulator-name = "VIO_CIF";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio2 6 GPIO_ACTIVE_LOW>; /* SODIMM 123*/
			regulator-always-on;
			vin-supply = <&p3v3_reg>;
	};

	/*
	 * Device specific leds
	 */
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		reset_out {
			label = "nRESET_OUT";
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>; /* SODIMM  87 */
			default-state = "on";
		};

		w1 {
			label = "W1";
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>; /* SODIMM 127 */
			default-state = "on";
		};

		/* KOE display SPI-bitband control lines */
		spi_cs {
			label = "bb-CS";
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>; /* SODIMM 111 */
			default-state = "on";
		};
		spi_sck {
			label = "bb-SCK";
			gpios = <&gpio2 26 GPIO_ACTIVE_HIGH>; /* SODIMM 112 */
			default-state = "on";
		};
		spi_mosi {
			label = "bb-MOSI";
			gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>; /* SODIMM 113 */
			default-state = "on";
		};
		/* SODIMM 114 - bb-MISO - not used input */
	};

	/*
	 * Device specific keys
	 */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio5 20 GPIO_ACTIVE_LOW>; /* soDimm 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};

		enter {
			label = "Enter";
			gpios = <&gpio4 10 GPIO_ACTIVE_LOW>; /* SODIMM 154 */
			linux,code = <KEY_ENTER>;
			debounce-interval = <100>;
		};
		up {
			label = "Up";
			gpios = <&gpio4 14 GPIO_ACTIVE_LOW>; /* SODIMM 156 */
			linux,code = <KEY_UP>;
			debounce-interval = <100>;
		};
		escape {
			label = "Escape";
			gpios = <&gpio4 15 GPIO_ACTIVE_LOW>; /* SODIMM 158 */
			linux,code = <KEY_ESC>;
			debounce-interval = <100>;
		};
		left {
			label = "Left";
			gpios = <&gpio4 16 GPIO_ACTIVE_LOW>; /* SODIMM 160 */
			linux,code = <KEY_LEFT>;
			debounce-interval = <100>;
		};
		down {
			label = "Down";
			gpios = <&gpio4 17 GPIO_ACTIVE_LOW>; /* SODIMM 162 */
			linux,code = <KEY_DOWN>;
			debounce-interval = <100>;
		};
		right {
			label = "Right";
			gpios = <&gpio4 18 GPIO_ACTIVE_LOW>; /* SODIMM 164 */
			linux,code = <KEY_RIGHT>;
			debounce-interval = <100>;
			wakeup-source;
		};
		hp_tangenta {
			label = "HP tangenta";
			gpios = <&gpio4 26 GPIO_ACTIVE_LOW>; /* SODIMM 180 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
		};
		tangenta {
			label = "Tangenta";
			gpios = <&gpio4 19 GPIO_ACTIVE_LOW>; /* SODIMM 166 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
		};
		function {
			label = "Function";
			gpios = <&gpio4 23 GPIO_ACTIVE_LOW>; /* SODIMM 174 */
			linux,code = <KEY_F3>;
			debounce-interval = <100>;
		};
		request {
			label = "Request";
			gpios = <&gpio4 20 GPIO_ACTIVE_LOW>; /* SODIMM 168 */
			linux,code = <KEY_F4>;
			debounce-interval = <100>;
		};
		rsp {
			label = "Rsp";
			gpios = <&gpio4 24 GPIO_ACTIVE_LOW>; /* SODIMM 176 */
			linux,code = <KEY_F5>;
			debounce-interval = <100>;
		};
		abonent {
			label = "Abonent";
			gpios = <&gpio4 21 GPIO_ACTIVE_LOW>; /* SODIMM 170 */
			linux,code = <KEY_F6>;
			debounce-interval = <100>;
		};
		transmit {
			label = "Transmit";
			gpios = <&gpio4 25 GPIO_ACTIVE_LOW>; /* SODIMM 178 */
			linux,code = <KEY_F7>;
			debounce-interval = <100>;
		};
		alarm {
			label = "Alarm";
			gpios = <&gpio4 22 GPIO_ACTIVE_LOW>; /* SODIMM 172 */
			linux,code = <KEY_F8>;
			debounce-interval = <100>;
		};
		/* temporary unused buttons */
		fm1 {
			label = "PROG1";
			gpios = <&gpio4 8 GPIO_ACTIVE_LOW>; /* SODIMM 150 */
			linux,code = <KEY_F11>;
			debounce-interval = <100>;
		};
		fm2 {
			label = "PROG2";
			gpios = <&gpio4 9 GPIO_ACTIVE_LOW>; /* SODIMM 152 */
			linux,code = <KEY_F12>;
			debounce-interval = <100>;
		};
	};

	/*
	 * PPS pin from SNS receiver
	 */
	pps {
		compatible = "pps-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps_gpio>;

		gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>; /* soDimm 55 */
		assert-falling-edge;
		status = "okay";
	};

	/*
	 * LCD Panel
	 */
	panel {
		compatible = "koe,tx09d200vm0baa";
		backlight = <&backlight>;

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&tft_bus_out>;
			};
		};
	};

	backlight: backlight {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_bl_on>;
		compatible = "pwm-backlight";
		enable-gpios = <&gpio2 07 GPIO_ACTIVE_HIGH>;	/* soDimm 125 */
		pwms = <&pwm3 0 500>;
		brightness-levels = <0 31 63 95 127 159 191 223 255>;
		default-brightness-level = <4>;
		status = "okay";
	};
};

&hdmi	{	status = "okay";	};

/*
 * TFT Display subsystem
 */
&tft_display_bus {
	status = "okay";
};

&tft_bus_out {
	remote-endpoint = <&lcd_panel_in>;
};

/*
 * Colibri I2C: I2C2_SDA/SCL on SODIMM 194/196 (compatible)
 */
&i2c2 {
	status = "okay";

	/* Composite video capture interface - encoder cip */
	cvbs: adv7280@20 {
		reg = <0x20>;
		compatible = "adv7280", "adi,adv7280";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adv7280>;
		interrupt-parent = <&gpio4>;
		interrupts = <30 IRQ_TYPE_LEVEL_LOW>;
		powerdown-gpios = <&gpio4 31 GPIO_ACTIVE_LOW>;
		input-names = "Ain1","Ain2","Ain3","Ain4";
		inputs = <0x00 0x01 0x02 0x03>;
		status = "okay";

		port {
			adv7280_ep: endpoint {
				remote-endpoint = <&ipu1_csi0_mux_from_parallel_sensor>;
				bus-width = <8>;
			};
		};
	};

	/* DS2484: I2C to OneWire Converter */
	owc: ds2482@18 {
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};
};

/*
 * Composite video capture interface
 */
&ipu1_csi0_mux_from_parallel_sensor {
	remote-endpoint = <&adv7280_ep>;
};

&ipu1_csi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ipu1_csi0>;
};

/* Only pwm1 used as bright contol, all other - disabled  */
&pwm3 { status = "okay";	}; /* soDimm 28 - LCD bright */

/* uart1 - sys (3w), uart2 - bluetoth (H3), uart3 disabled by default */
&uart1 { status = "okay"; }; /* default full feature uart */
&uart2 { /* default have CTS/RTS pins */
	status = "okay";

	bluetooth {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bluetooth>;

		enable-gpios	= <&gpio2 3 GPIO_ACTIVE_HIGH>; /* SODIMM 117 */
		compatible	= "ti,wl1271-st";
		clocks		= <&clk_32k_bt 0>;
		clock-names	= "ext_clock";
		max-speed	= <3686400>;
		/*
		 * Params not found in source, but described in documentation
		 */
		current-speed	= <115200>;
		vio-supply	= <&bt_vio_reg>;
		vbat-supply	= <&p3v3_reg>;
		status = "okay";
	};
};

/* external (compatible) mmc card */
&usdhc1 { status = "okay"; };

/* Board specific io muxing */
&iomuxc {
	pinctrl_gpio_bl_on: gpioblon {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D7__GPIO2_IO07	0x1b0b0 /* soDimm 125 */
		>;
	};

	pinctrl_adv7280: gpio-adv7280 {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT9__GPIO4_IO30	0x1b0b0 /* soDimm 71: CIF_D0/CIF_IRQn */
			MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31	0x0f058 /* soDimm 98: CIF_D1/CIF_nPDN */
		>;
	};

	pinctrl_bluetooth: gpio-bluetooth {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D3__GPIO2_IO03	0x0f058 /* PU_22K soDimm 117 - nBT_PDN */
		>;
	};

	pinctrl_reg_bt: gpio-reg-bt {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D2__GPIO2_IO02	0x0f058 /* PU_22K soDimm 115: BT_PWR */
		>;
	};

	pinctrl_reg_cif: gpio-reg-cif {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06	0x0f058 /* PU_22K soDimm 123: CIF_PWR */
		>;
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07	0xf058 /* soDimm87: nRESET_OUT  */
			MX6QDL_PAD_SD4_DAT0__GPIO2_IO08		0xf058 /* soDImm127: SLPZ@DS2484R */
			MX6QDL_PAD_NANDF_D0__GPIO2_IO00		0xf058 /* KOE CS   - soDimm 111 */
			MX6QDL_PAD_EIM_RW__GPIO2_IO26		0xf058 /* KOE SCK  - soDimm 112 */
			MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0xf058 /* KOE MOSI - soDimm 113 */
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27		0x1b0b0 /* KOE MISO - soDimm 114 - stay input, not used */
		>;
	};

	pinctrl_gpio_keys: gpio-keys {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x1b0b0	/* Power Button soDimm  45 */
			MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x1b0b0	/* FM1:		soDimm 150 */
			MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x1b0b0	/* FM2:		soDimm 152 */
			MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x1b0b0	/* Enter:	soDimm 154 */
			MX6QDL_PAD_KEY_COL4__GPIO4_IO14		0x1b0b0	/* Up:		soDimm 156 */
			MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x1b0b0	/* Escape	soDimm 158 */
			MX6QDL_PAD_DI0_DISP_CLK__GPIO4_IO16	0x1b0b0	/* Left:	soDimm 160 */
			MX6QDL_PAD_DI0_PIN15__GPIO4_IO17	0x1b0b0	/* Down:	soDimm 162 */
			MX6QDL_PAD_DI0_PIN2__GPIO4_IO18		0x1b0b0	/* Rigth:	soDimm 164 */
			MX6QDL_PAD_DI0_PIN3__GPIO4_IO19		0x1b0b0	/* Tangenta:	soDimm 166 */
			MX6QDL_PAD_DI0_PIN4__GPIO4_IO20		0x1b0b0	/* Request:	soDimm 168 */
			MX6QDL_PAD_DISP0_DAT0__GPIO4_IO21	0x1b0b0	/* Abonent:	soDimm 170 */
			MX6QDL_PAD_DISP0_DAT1__GPIO4_IO22	0x1b0b0	/* Alarm:	soDimm 172 */
			MX6QDL_PAD_DISP0_DAT2__GPIO4_IO23	0x1b0b0	/* Function:	soDimm 174 */
			MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24	0x1b0b0	/* RSP:		soDimm 176 */
			MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25	0x1b0b0	/* Transmit:	soDimm 178 */
			MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26	0x1b0b0	/* HP Tangenta:	soDimm 180 */
		>;
	};

	pinctrl_pps_gpio: gpiopps {
		fsl,pins = <
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1b0b0 /* soDimm 55 */
		>;
	};
};
