/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;
#include "imx6qp.dtsi"

#include "imx6qdl-ravion-v2.dtsi"

/ {
	model = "ravion:kitsbimx6";
	compatible = "ravion,imx6qp", "fsl,imx6qp";

	chosen {
		stdout-path = &uart1;
	};

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "Power";
			gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;	/* soDimm 125 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		reset_out {
			label = "nRESET_OUT";
			gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;	/* soDimm 121 */
			default-state = "on";
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;		/* soDimm 127 */
	};
};


/*
 * Serial ports
 */
/* &uart1 {	status = "okay";	}; => Allways enabled */
&uart2 {	status = "okay";	};
&uart3 {	status = "okay";	};

/*
 * I2C Busses
 */
&i2c2 {	/* Compatible I2C: soDimm 194, 196 */
	status = "okay";

	/* DD6 - MUX */
	i2c-switch@74 {
		compatible = "nxp,pca9548";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			reg = <0>;
		};
		i2c@1 {
			reg = <1>;

			/* DD16: DS1342u+ */
			rtc_i2c: rtc@68 {
				#address-cells = <2>;
				#size-cells = <1>;
				compatible = "st,m41t0";
				reg = <0x68>;
			};
		};
		i2c@2 {
			reg = <2>;
		};
		i2c@3 {
			reg = <3>;
		};
	};

};

&i2c3 { /* Extended I2C: soDimm 128, 130 */
	status = "okay";

	/* DD7 - MUX */
	i2c-switch@74 {
		compatible = "nxp,pca9548";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			reg = <0>;
		};
		i2c@1 {
			reg = <1>;
		};
		i2c@2 {
			reg = <2>;
		};
		i2c@3 {
			reg = <3>;

			/* DD5: M24C08-RDW6 */
			eeprom@53 {
				compatible = "microchip,24c08";
				reg = <0x52>;
			};
		};
	};
};

/*
 * SPI Bus
 */
&ecspi1 {	status = "okay";	};


/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 {	status = "okay";	}; /* compatible */
&usdhc2 {	status = "okay";	}; /* externed */
/* &usdhc3 {	status = "okay";	}; => eMMC allways enabled */

/*
 * Ethernet controller
 */
/* &fec {	status = "okay";	}; => eth0 allways enabled */

/*
 * Audio (digital part)
 */
/* &audmux {	status = "okay";	}; => Allways enabled */
/* &ssi1 {	status = "okay";	}; => Allways enabled */

/*
 * High-speed serial bus
 */
&pcie	{	status = "okay";	};
&sata	{	status = "okay";	};
/* &usbh1  {	status = "okay";	}; => Allways enabled */
/* &usbotg`{	status = "okay";	}; => Allways enabled */
&usbh3	{	status = "okay";	}; /* HSIC */

/*
 * PWMs
 */
&pwm3	{	status = "okay";	};
&pwm4	{	status = "okay";	};

/*
 * Video subsystems
 */
&hdmi	{	status = "okay";	};
