/*
 * Copyright 2014-2016 Toradex AG
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-colibri-ravion.dtsi"

/ {
	model = "Toradex Colibri iMX6DL/S on Radioavionica CIMC Lite Board";
	compatible = "toradex,mcp", "toradex,colibri_imx6dl-eval",
		"toradex,colibri_imx6dl", "fsl,imx6dl";

	/*
	 * Device specific clocks
	 */
	clocks {
		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		 };
	};

	/*
	 * Device specific regulators
	 */
	bt_vio_reg: bt_vio {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_bt_cif>;
			compatible = "regulator-fixed";
			regulator-name = "VIO_BT";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio3 2 GPIO_ACTIVE_LOW>;
			regulator-always-on;
			vin-supply = <&reg_3p3v>;
	};

	/*
	 * Device specific leds
	 */
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		w1 {
			label = "W1";
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		nreset {
			label = "nRESET";
			gpios = <&gpio6 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

	};

	/*
	 * Device specific keys
	 */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio2 22 GPIO_ACTIVE_HIGH>; /* SODIMM 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};
		/* Board specific buttons */
		fm1 {
			label = "PROG1";
			gpios = <&gpio2 27 GPIO_ACTIVE_HIGH>; /* SODIMM 150 */
			linux,code = <KEY_PROG1>;
			debounce-interval = <100>;
		};
		fm2 {
			label = "PROG2";
			gpios = <&gpio6 31 GPIO_ACTIVE_HIGH>; /* SODIMM 152 */
			linux,code = <KEY_PROG2>;
			debounce-interval = <100>;
		};
		enter {
			label = "Enter";
			gpios = <&gpio6 16 GPIO_ACTIVE_HIGH>; /* SODIMM 154 */
			linux,code = <KEY_ENTER>;
			debounce-interval = <100>;
		};
		up {
			label = "Up";
			gpios = <&gpio6 14 GPIO_ACTIVE_HIGH>; /* SODIMM 156 */
			linux,code = <KEY_UP>;
			debounce-interval = <100>;
		};
		escape {
			label = "Escape";
			gpios = <&gpio6 10 GPIO_ACTIVE_HIGH>; /* SODIMM 158 */
			linux,code = <KEY_ESC>;
			debounce-interval = <100>;
		};
		left {
			label = "Left";
			gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>; /* SODIMM 160 */
			linux,code = <KEY_LEFT>;
			debounce-interval = <100>;
		};
		down {
			label = "Down";
			gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>; /* SODIMM 162 */
			linux,code = <KEY_DOWN>;
			debounce-interval = <100>;
		};
		right {
			label = "Right";
			gpios = <&gpio6 11 GPIO_ACTIVE_HIGH>; /* SODIMM 164 */
			linux,code = <KEY_RIGHT>;
			debounce-interval = <100>;
			wakeup-source;
		};
		tangenta {
			label = "Tangenta";
			gpios = <&gpio6 7 GPIO_ACTIVE_HIGH>; /* SODIMM 166 */
			linux,code = <KEY_F1>;
			debounce-interval = <100>;
		};
		request {
			label = "Request";
			gpios = <&gpio4 5 GPIO_ACTIVE_HIGH>; /* SODIMM 168 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
		};
		abonent {
			label = "Abonent";
			gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>; /* SODIMM 170 */
			linux,code = <KEY_F3>;
			debounce-interval = <100>;
		};
		alarm {
			label = "Alarm";
			gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>; /* SODIMM 172 */
			linux,code = <KEY_F4>;
			debounce-interval = <100>;
		};
		function {
			label = "Function";
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>; /* SODIMM 174 */
			linux,code = <KEY_F5>;
			debounce-interval = <100>;
		};
		rsp {
			label = "Rsp";
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>; /* SODIMM 176 */
			linux,code = <KEY_F6>;
			debounce-interval = <100>;
		};
		transmit {
			label = "Transmit";
			gpios = <&gpio4 14 GPIO_ACTIVE_HIGH>; /* SODIMM 178 */
			linux,code = <KEY_F7>;
			debounce-interval = <100>;
		};
		hp_tangenta {
			label = "HP tangenta";
			gpios = <&gpio1 02 GPIO_ACTIVE_HIGH>; /* SODIMM 180 */
			linux,code = <KEY_F1>;
			debounce-interval = <100>;
		};
	};

	/*
	 * PPS pin from SNS receiver
	 */
	pps {
		compatible = "pps-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps_gpio>;

		gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>; /* soDimm 55 */
		assert-falling-edge;
		status = "okay";
	};

	/*
	 * Display subsystem
	 */
	lcd_display: display@di0 {
		compatible = "fsl,imx-parallel-display";
		#address-cells = <1>;
		#size-cells = <0>;
		interface-pix-fmt = "rgb24";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_lcdif>;
		status = "okay";

		port@0 {
			reg = <0>;

			lcd_display_in: endpoint {
				remote-endpoint = <&ipu1_di0_disp0>;
			};
		};

		port@1 {
			reg = <1>;

			lcd_display_out: endpoint {
				remote-endpoint = <&lcd_panel_in>;
			};
		};
	};

	koe_lcd: panel {
		compatible = "koe,tx09d200vm0baa";
		backlight = <&backlight>;

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&lcd_display_out>;
			};
		};
	};
};

&ipu1_di0_disp0 {
	remote-endpoint = <&lcd_display_in>;
};

&backlight {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_bl_on>;
	compatible = "pwm-backlight";
	enable-gpios = <&gpio3 07 GPIO_ACTIVE_HIGH>;
	pwms = <&pwm1 0 500>;
	brightness-levels = <0 31 63 95 127 159 191 223 255>;
	default-brightness-level = <4>;
	status = "okay";
};

/*
 * Colibri I2C: I2C3_SDA/SCL on SODIMM 194/196 (e.g. RTC on carrier board)
 */
&i2c3 {
	status = "okay";

	/* Composite video capture interface */
	cvbs: adv7280@21 {
		reg = <0x21>;
		compatible = "adv7280", "adi,adv7280";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adv7280>;
		interrupt-parent = <&gpio1>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		powerdown-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio3 26>;
		status = "okay";

		port {
			adv7280_ep: endpoint {
				remote-endpoint = <&ipu1_csi1_mux_from_parallel_sensor>;
				bus-width = <8>;
			};
		};
	};

	/* DS2484: I2C to OneWire Converter */
	owc: ds2482@18 {
		status = "okay";
		compatible = "ds2482";
		reg = <0x18>;
	};
};

&ipu1_csi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ipu1_csi1>;

	fim {
		status = "okay";
	};
};

&ipu1_csi1_from_ipu1_csi1_mux {
};

&ipu1_csi1_mux_from_parallel_sensor {
	remote-endpoint = <&adv7280_ep>;
};

/* Only pwm1 used as bright contol, all other - disabled  */
&pwm1 { status = "okay";	}; /* soDimm 28 - LCD bright */

/* uart1 - sys (3w), uart2 - bluetoth (H3), uart3 disabled by default */
&uart1 { status = "okay"; }; /* default full feature uart */
&uart2 { /* default have CTS/RTS pins */
	status = "okay";

	bluetooth {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bluetooth>;

		enable-gpios	= <&gpio3 3 GPIO_ACTIVE_HIGH>;
		compatible	= "ti,wl1271-st";
		clocks		= <&clk_32k_bt 0>;
		clock-names	= "ext_clock";
		max-speed	= <3686400>;
		/*
		 * Params not found in source, but described in documentation
		 */
		current-speed	= <115200>;
		vio-supply	= <&bt_vio_reg>;
		vbat-supply	= <&reg_3p3v>;
		status = "okay";
	};
};

/* Board specific io muxing */
&iomuxc {
	pinctrl_gpio_bl_on: gpioblon {
		fsl,pins = <
			MX6QDL_PAD_EIM_DA7__GPIO3_IO07	0x1b0b0 /* soDimm 125 */
		>;
	};

	pinctrl_adv7280: gpio-adv7280 {
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__GPIO1_IO11 0x0f058 /* PU_22K soDimm 69: CIF_D10/CIF_IRQn */
		>;
	};

	pinctrl_bluetooth: gpio-bluetooth {
		fsl,pins = <
			MX6QDL_PAD_EIM_DA3__GPIO3_IO03	0x0f058 /* PU_22K soDimm 117 - nBT_PDN */
		>;
	};

	pinctrl_reg_bt_cif: gpio-reg-bt-cif {
		fsl,pins = <
			MX6QDL_PAD_EIM_DA2__GPIO3_IO02	0x0f058 /* PU_22K soDimm 115: CIF_BT_PWR */
		>;
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <
			MX6QDL_PAD_RGMII_RD1__GPIO6_IO27 0xf058 /* PU_22K interal RGMII_RD1 - nRESET OUT */
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06	0x0f058 /* PU_22K soDImm 127: SLPZ@DS2484R   */
		>;
	};

	pinctrl_gpio_keys: gpiokeys {
		fsl,pins = <
			MX6QDL_PAD_EIM_A16__GPIO2_IO22		0x1b0b0	/* Power button */
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27		0x1b0b0	/* FM1:		soDimm 150 */
			MX6QDL_PAD_EIM_BCLK__GPIO6_IO31		0x1b0b0	/* FM2:		soDimm 152 */
			MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x1b0b0	/* Enter:	soDimm 154 */
			MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x1b0b0	/* Up:		soDimm 156 */
			MX6QDL_PAD_NANDF_RB0__GPIO6_IO10	0x1b0b0	/* Escape	soDimm 158 */
			MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	0x1b0b0	/* Left:	soDimm 160 */
			MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x1b0b0	/* Down:	soDimm 162 */
			MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x1b0b0	/* Rigth:	soDimm 164 */
			MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x1b0b0	/* Tangenta:	soDimm 166 */
			MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x1b0b0	/* Request:	soDimm 168 */
			MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19	0x1b0b0	/* Abonent:	soDimm 170 */
			MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18	0x1b0b0	/* Alarm:	soDimm 172 */
			MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1b0b0	/* Function:	soDimm 174 */
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x1b0b0	/* RSP:		soDimm 176 */
			MX6QDL_PAD_KEY_COL4__GPIO4_IO14		0x1b0b0	/* Transmit:	soDimm 178 */
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1b0b0	/* HP Tangenta:	soDimm 180 */
		>;
	};

	pinctrl_pps_gpio: gpiopps {
		fsl,pins = <
			MX6QDL_PAD_GPIO_7__GPIO1_IO07		0x1b0b0 /* soDimm 55 */
		>;
	};
};
