/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;
#include "imx6qp.dtsi"

#include "imx6qdl-ravion-v2.dtsi"

/ {
	model = "ravion:cimc";
	compatible = "ravion,imx6qp", "fsl,imx6qp";

	chosen {
		stdout-path = &uart1;
	};

	/*
	 * Device specific regulators
	 */
	pwr_src: pwr_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P15V_IN";
			/* FixMe: 12.8...25V input voltage */
			regulator-min-microvolt = <15000000>;
			regulator-max-microvolt = <15000000>;
			regulator-always-on;
	};

	p5v_reg: p5v_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&pwr_src>;
			regulator-always-on;
	};

	p3v3_reg: p3v3_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P3V3";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&pwr_src>;
			regulator-always-on;
	};

	p3v3_lcd_reg: p3v3_lcd_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P3V3_LCD";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&p3v3_reg>;
			gpio = <&gpio6 1 GPIO_ACTIVE_LOW>;
			regulator-always-on; /* XP25: force on (1-2)/normal (2-3) */
	};

	p3v3_cam_reg: p3v3_cam_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P3V3_CAM";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&p3v3_reg>;
			gpio = <&gpio2 25 GPIO_ACTIVE_LOW>;
			regulator-always-on; /* XP25: force on (1-2)/normal (2-3) */
	};

	p12v_reg: p12v_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P12V";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			vin-supply = <&pwr_src>;
			regulator-always-on; /* XP61: enable/disable reg. */
	};

	p12v_lcd_reg: p12v_lcd_regulator {
			compatible = "regulator-fixed";
			regulator-name = "P12V_LCD";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			vin-supply = <&p12v_reg>;
			regulator-always-on; /* XP62: enable/disable reg. */
	};

	p1v8_bt_reg: p1v8_bt_regulator {
			compatible = "regulator-fixed";
			regulator-name = "VIO_BT";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio2 2 GPIO_ACTIVE_LOW>; /* XP48 - removed: force enable */
			regulator-always-on;
			vin-supply = <&p3v3_reg>;
	};

#if 0
pps	= <&gpio1  2 GPIO_ACTIVE_LOW>;	/* soDimm 055 */
pen1	= <&gpio6  3 GPIO_ACTIVE_LOW>;	/* soDimm 059 */
oc1	= <&gpio6  4 GPIO_ACTIVE_LOW>;	/* soDimm 085 */
pen2	= <&gpio2 24 GPIO_ACTIVE_LOW>;	/* soDimm 106 */
oc2	= <&gpio2 25 GPIO_ACTIVE_LOW>;	/* soDimm 110 */
pen3	= <&gpio2  0 GPIO_ACTIVE_LOW>;	/* soDimm 111 */
oc3	= <&gpio2 26 GPIO_ACTIVE_LOW>;	/* soDimm 112 */
pen4	= <&gpio4  9 GPIO_ACTIVE_LOW>;	/* soDimm 152 */
oc4	= <&gpio4 10 GPIO_ACTIVE_LOW>;	/* soDimm 154 */
pwr_video = <&gpio2 11 GPIO_ACTIVE_LOW>;	/* soDimm 133 */
stby_can= <&gpio4  8 GPIO_ACTIVE_LOW>;	/* soDimm 150 */
#endif

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "Power";
			gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;	/* soDimm 125 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};

		tangenta {
			label = "Tangenta";
			gpios = <&gpio3 15 GPIO_ACTIVE_LOW>;	/* soDimm 120 */
			linux,code = <KEY_F1>;
			debounce-interval = <100>;
			wakeup-source;
		};
	};

	gpio-leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_uart1gpio>;
		compatible = "gpio-leds";

		pwr_ow {
			label = "PWR_OW";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;	/* soDimm 124 */
			default-state = "on";
		};

		gpio23 {
			label = "gpio23";
			gpio = <&gpio3 24 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};

		gpio25 {
			label = "gpio25";
			gpio = <&gpio3 19 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};

		gpio27 {
			label = "gpio27";
			gpio = <&gpio3 20 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};

		gpio29 {
			label = "gpio29";
			gpio = <&gpio3 25 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};

		gpio31 {
			label = "gpio31";
			gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};

		gpio37 {
			label = "gpio37";
			gpio = <&gpio2 31 GPIO_ACTIVE_HIGH>;	/* soDimm 023 */
			default-state = "off";
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;		/* soDimm 127 */
	};
};

/*
 * Sound subsystem
 */
&ssi2	{	status = "okay";	};

/*
 * Video subsystem (select one - TFT or LVDS)
 */
/* VGA */
&tft_display_bus {	status = "disabled";	};
/* LVDS */
&ldb {	status = "disabled";	};
/*
 * Serial ports
 */
/* &uart1 {	status = "okay";	}; => Allways enabled */
&uart2 {
	status = "okay";


	bluetooth { /* DD19: CC2564CRVM */
		enable-gpios = <&gpio2 2  GPIO_ACTIVE_HIGH>;	/* soDimm 115 */
		compatible = "ti,wl1271-st";
		clocks = <&clk_32k_bt 0>;
		clock-names = "ext_clock";
		max-speed = <3686400>;
		/*
		 * Params not found in source, but described in documentation
		 */
		vio-supply = <&p1v8_bt_reg>;
		vbat-supply = <&p3v3_reg>;
		current-speed = <115200>;
		status = "okay";

		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		};
	};
};
&uart3 {
	status = "okay";
};

/*
 * Controller Area Network (CAN) Bus
 */
&can1 {
	status = "okay";
};

/*
 * I2C Busses
 */
&i2c2 {	/* Compatible I2C: soDimm 194, 196 */
	status = "okay";

	owc: ds2482@18 { /* DS2484: I2C to OneWire Converter */
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};
};

&i2c3 { /* Extended I2C: soDimm 128, 130 */
	status = "okay";

	rtc@6f { /* ISL12020: I2C Real Time Clock (battery backup) */
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};

	tftmux@6a { /* DS92LV2411S - TFT bus to one diff-pair multiplexer */
		compatible = "ti,ds92lv2411s";
		reg = <0x6a>;
	};

	adv7280m@20 { /*ADV7280BCPZ - Composite video capture with MIPI interface */
		compatible = "adi,adv7280-m";
		reg = <0x20>;
	};

	usb-hub@2d {
		compatible = "smsc,usb4604";
		reg = <0x2d>;
		reset-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;	/* soDimm 121 */
		initial-mode = <1>; /* 1 for HUB, 2 for STANDBY  */
	};
};

&mipi_csi {
	status = "okay";

	port@0 {
		reg = <0>;
		csi_port_in: endpoint {
/*			remote-endpoint = <&csi_sensor_out>; */
			clock-lanes = <0>;
			data-lanes = <1 2>;
		};
	};
};

/*
 * SPI Bus
 */
&ecspi1 {	status = "disabled"; };

/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 {	status = "okay";	}; /* compatible */
&usdhc2 {	status = "disabled";	}; /* externed */
/* &usdhc3 {	status = "okay";	}; => eMMC allways enabled */

/*
 * Ethernet controller
 */
/* &fec {	status = "okay";	}; => eth0 allways enabled */

/*
 * Audio (digital part)
 */
/* &audmux {	status = "okay";	}; => Allways enabled */
/* &ssi1 {	status = "okay";	}; => Allways enabled */

/*
 * High-speed serial bus
 */
&pcie {
	status = "okay";
	/* Child Device LAN7430i connected to this interface */
};

&sata {
	status = "okay";
};

/* &usbh1  {	status = "okay";	}; HOST => Allways enabled */

&usbotg	{ /* OTG */
	power-active-high;
	status = "okay";
};

&usbh3 { /* HSIC */
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	hub@1 { /* USB4604: 4 port HUB with HSIC upstream */
		compatible = "usb0424,4604";
		reg = <1>;
	};
};

/*
 * PWMs
 */
&pwm3	{	status = "disabled";	};
&pwm4	{	status = "disabled";	};

/*
 * Video subsystems
 */
&hdmi	{	status = "okay";	};
