/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

/ {
	/*
	 * Device specific regulators
	 */
	vin_reg: regulator_vin {
		compatible = "regulator-fixed";
		regulator-name = "VIN";
		/* FixMe: 5.0...8.4V input voltage */
		regulator-min-microvolt = <7200000>;
		regulator-max-microvolt = <7200000>;
		regulator-always-on;
	};

	p5v_reg: regulator_5v {
		compatible = "regulator-fixed";
		regulator-name = "+5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vin_reg>;
		regulator-always-on;
	};

	p3v3_reg: regulator_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "+3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vin_reg>;
		regulator-always-on;
	};

	p3v0va_reg: regulator_3v0va {
		compatible = "regulator-fixed";
		regulator-name = "+3.0VA";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		vin-supply = <&p3v3_reg>;
		regulator-always-on;
	};

	bt_reg: regulator_bt {
		regulator-name = "BT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&p3v3_reg>;
		gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;		/* soDimm 117 */
		regulator-always-on;
	};

	pps {
		compatible = "pps-gpio";
		gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;		/* soDimm 055 */
	};

	gpio-keys {
		compatible = "gpio-keys";

		tangenta {
			label = "Tangenta";
			gpios = <&gpio3 15 GPIO_ACTIVE_LOW>;	/* soDimm 120 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
			wakeup-source;
		};

		fck1 {
			label = "FCK1";
			gpios = <&gpio4 8 GPIO_ACTIVE_LOW>;	/* soDimm 150 */
			linux,code = <KEY_F9>;
			debounce-interval = <100>;
			wakeup-source;
		};

		fck2 {
			label = "FCK2";
			gpios = <&gpio4 9 GPIO_ACTIVE_LOW>;	/* soDimm 152 */
			linux,code = <KEY_F10>;
			debounce-interval = <100>;
			wakeup-source;
		};

		fck3 {
			label = "FCK3";
			gpios = <&gpio4 10 GPIO_ACTIVE_LOW>;	/* soDimm 154 */
			linux,code = <KEY_F11>;
			debounce-interval = <100>;
			wakeup-source;
		};

		fck4 {
			label = "FCK4";
			gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;	/* soDimm 156 */
			linux,code = <KEY_F12>;
			debounce-interval = <100>;
			wakeup-source;
		};

		nav_oc {
			label = "NAV_OC";
			gpios = <&gpio2 27 GPIO_ACTIVE_LOW>;	/* soDimm 114 */
			linux,code = <KEY_MACRO8>;
			wakeup-source;
		};

		unk_stat {
			label = "UNK_STATUS";
			gpios = <&gpio6  4 GPIO_ACTIVE_LOW>;	/* soDimm 085 */
			linux,code = <KEY_MACRO9>;
			wakeup-source;
		};

		sw_dock {
			label = "DOCK";
			gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;	/* soDimm 133 */
			linux,code = <SW_DOCK>;
			wakeup-source;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		lcd_cs {
			label = "lcd::CS";
			gpios = <&gpio4 15 GPIO_ACTIVE_HIGH>;	/* soDimm 158 */
			default-state = "off";
		};

		touch_cs {
			label = "touch::CS";
			gpios = <&gpio2 25 GPIO_ACTIVE_LOW>;	/* soDimm 110 */
			default-state = "off";
		};

		pwr_5vext1 {
			label = "pwr::5V_EXT1";
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;	/* soDimm 111 */
			default-state = "on";
		};

		pwr_5vext2 {
			label = "pwr::5V_EXT2";
			gpio = <&gpio2 1 GPIO_ACTIVE_HIGH>;	/* soDimm 113 */
			default-state = "on";
		};

		pwr_5vext3 {
			label = "pwr::5V_EXT3";
			gpios = <&gpio6  1 GPIO_ACTIVE_HIGH>;	/* soDimm 160 */
			default-state = "on";
		};

		pwr_LCD {
			label = "pwr::LCD";
			gpios = <&gpio5 31 GPIO_ACTIVE_HIGH>;	/* soDimm 116 */
			default-state = "on";
		};

		pwr_APD {
			label = "pwr::APD";
			gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;	/* soDimm 118 */
			default-state = "on";
		};

		pwr_NAV {
			label = "pwr::NAV";
			gpio = <&gpio2 26 GPIO_ACTIVE_LOW>;	/* soDimm 112 */
			default-state = "on";
		};

		pwr_ABS {
			label = "pwr::ABS";
			gpio = <&gpio5  9 GPIO_ACTIVE_HIGH>;	/* soDimm 122 */
			default-state = "on";
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		enable-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>; /* soDimm  119 */
		pwms = <&pwm3 0 2000 0>; /* FixMe: frequency !!! */
		brightness-levels = <0 25 51 76 102 127 153 178 204 229 255>;
		default-brightness-level = <9>;
		status = "okay";
	};
};

/*
 * Sound subsystem
 */
&ssi2	{	status = "okay";	};

/*
 * Video subsystem
 */
/* VGA */
&tft_display_bus {	status = "disabled";	};
/* LVDS */
&ldb {			status = "disabled";	};

/*
 * Serial ports
 */
/* &uart1 {	status = "okay";	}; => Allways enabled */
&uart2 {
	status = "okay";


	bluetooth { /* DD19: CC2564CRVM */
		enable-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;	/* soDimm 115 */
		compatible = "ti,wl1271-st";
		clocks = <&clk_32k_bt 0>;
		clock-names = "ext_clock";
		max-speed = <3686400>;
		current-speed = <115200>;

		status = "okay";
		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		};
	};
};
&uart3 {
	status = "okay";
};

/*
 * Controller Area Network (CAN) Bus
 */
&can1 {
	status = "okay";
};

/*
 * I2C Busses
 */
&i2c2 {	/* Compatible I2C: soDimm 194, 196 */
	status = "okay";

	owc: ds2482@18 { /* DS2484: I2C to OneWire Converter */
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};

	tmp116@48 {
		compatible = "ti,tmp116";
		reg = <0x48>;
	};
};

&i2c3 { /* Extended I2C: soDimm 128, 130 */
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	rtc@6f { /* ISL12020: I2C Real Time Clock (battery backup) */
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};

	bmg160@68 {
		compatible = "bosch,bmi160";
		reg = <0x68>;
		vdd-supply = <&p3v3_reg>;
		vddio-supply = <&p3v3_reg>;
		interrupt-parent = <&gpio2>;
		interrupts = <6 (IRQ_TYPE_EDGE_RISING)>;	/* soDimm 123 */
		interrupt-names = "INT1";
	};

	light@44 {
		compatible = "isil,isl29035";
		vcc-supply = <&p3v3_reg>;
		reg = <0x44>;
		interrupt-parent = <&gpio6>;
		interrups = <3 IRQ_TYPE_LEVEL_HIGH>;		/* soDimm 059 */
	};

};

&mipi_csi {
	status = "disabled";
};

/*
 * SPI Bus
 */
&ecspi1 {
	status = "disabled";
};

/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 {	status = "okay";	}; /* compatible */
&usdhc2 {	status = "disabled";	}; /* externed */
/* &usdhc3 {	status = "okay";	}; => eMMC allways enabled */

/*
 * Ethernet controller
 */
/* &fec {	status = "okay";	}; => eth0 allways enabled */

/*
 * Audio (digital part)
 */
/* &audmux {	status = "okay";	}; => Allways enabled */
/* &ssi1 {	status = "okay";	}; => Allways enabled */

/*
 * High-speed serial bus
 */
&pcie {
	status = "disabled";
};

&sata {
	status = "okay";
};

/* &usbh1  {	status = "okay";	}; HOST => Allways enabled */

&usbotg	{ /* OTG */
	status = "okay";
};

&usbh3 { status = "disabled"; }; /* HSIC */

/*
 * PWMs
 */
&pwm3	{	status = "okay";	};
&pwm4	{	status = "disabled";	};

/*
 * Video subsystems
 */
&hdmi	{	status = "disabled";	};
