/*
 * Copyright 2014-2016 Toradex AG
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-colibri.dtsi"

/ {
	model = "Toradex Colibri iMX6DL/S on Radioavionica MCP Board";
	compatible = "toradex,mcp", "toradex,colibri_imx6dl-eval",
		"toradex,colibri_imx6dl", "fsl,imx6dl";

	aliases {
		i2c0 = &i2c2;
		i2c1 = &i2c3;
	};

	aliases {
		rtc0 = &snvs_rtc;
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		w1 {
			label = "W1";
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio2 22 GPIO_ACTIVE_HIGH>; /* SODIMM 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};
	};

	gpio-poweroff {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_poweroff>;
		compatible = "gpio-poweroff";
		gpios = <&gpio2 3 GPIO_ACTIVE_LOW>;
	};

	lcd_display: display@di0 {
		compatible = "fsl,imx-parallel-display";
		#address-cells = <1>;
		#size-cells = <0>;
		interface-pix-fmt = "bgr666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_lcdif>;
		status = "okay";

		#include "ravion-timings.dtsi"

		port@0 {
			reg = <0>;

			lcd_display_in: endpoint {
				remote-endpoint = <&ipu1_di0_disp0>;
			};
		};
	};
};

&backlight {
	brightness-levels = <0 127 191 223 239 247 251 255>;
	default-brightness-level = <1>;
	status = "okay";
};

/* Colibri SSP */
&ecspi4 {
	status = "okay";

	spidev0: spidev@0 {
		reg = <0>;
		spi-max-frequency = <1000000>;
/*		compatible = "spidev"; */
		status = "okay";
	};
};

&hdmi {
	status = "okay";
};

/*
 * Colibri I2C: I2C3_SDA/SCL on SODIMM 194/196 (e.g. RTC on carrier board)
 */
&i2c3 {
	status = "okay";

	/* DS2782: Legacy Fuel Gauge Controller */
	fgc: ds2782@34 {
		status = "disabled";
		compatible = "ds2782";
		reg = <0x34>;
	};

	i2c_bus_mux: mux@70 { /* I2C bus multiplexer/switch */
		status = "disabled";
		compatible = "nxp,pca9541";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			/* Texas Instruments SBS-compatible Fuel Gauge Controller */
			battery1: bq20z655@0b {
				status = "okay";
				compatible = "sbs,sbs-battery";
				reg = <0x0b>;
				sbs,i2c-retry-count = <2>;
				sbs,poll-retry-count = <1>;
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			/* Texas Instruments SBS-compatible Fuel Gauge Controller */
			battery2: bq20z655@ob {
				status = "okay";
				compatible = "sbs,sbs-battery";
				reg = <0x0b>;
				sbs,i2c-retry-count = <2>;
				sbs,poll-retry-count = <1>;
			};
		};
	};

	/* Texas Instruments SBS-compatible Fuel Gauge Controller */
	battery0: bq20z655@0b {
		status = "disabled";
		compatible = "sbs,sbs-battery";
		reg = <0x0b>;
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <1>;
	};

	/* Composite video capture interface */
	cvbs: adv7280@20 {
		status = "okay";
		compatible = "adv7280", "adi,adv7280";
		reg = <0x20>;
		/* FixMe: may be swapped powerdown and reset pins
		reset-gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
		powerdown-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>; */
	};

	/* DS2484: I2C to OneWire Converter */
	owc: ds2482@18 {
		status = "okay";
		compatible = "ds2482";
		reg = <0x18>;
	};
};

&ipu1_di0_disp0 {
	remote-endpoint = <&lcd_display_in>;
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&reg_usb_host_vbus {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_host_vbus>;
	status = "okay";
};

&usbotg {
	status = "okay";
};

/* Colibri MMC */
&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc_cd>;
	cd-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>; /* MMCD */
	status = "okay";
};

&weim {
	status = "disabled";
};

&iomuxc {
	pinctrl_gpio_poweroff: gpio-poweroff {
		fsl,pins = <MX6QDL_PAD_NANDF_D3__GPIO2_IO03 0x0f058>; /* PU_22K */
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <MX6QDL_PAD_NANDF_D6__GPIO2_IO06 0x0f058>; /* PU_22K */
	};
};
