
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6qp.dtsi"
#include "imx6qp-ravion.dtsi"

/ {
	model = "ravion:mtu";
	compatible = "ravion,mcp", "fsl,imx6qp";

	/*
	 * Device specific clocks
	 */
	clocks {
		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		 };
	};

	/*
	 * Device specific regulators
	 */
	bt_vio_reg: bt_vio {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_bt_cif>;
			compatible = "regulator-fixed";
			regulator-name = "VIO_BT";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio2 2 GPIO_ACTIVE_LOW>;
			regulator-always-on;
			vin-supply = <&p3v3_reg>;
	};

	/*
	 * Device specific leds
	 */
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		nreset {
			label = "nRESET";
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		disp_en {
			label = "display_enable";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>; /* SODIMM 124 */
			default-state = "on";
		};

		scan_dir {
			label = "disp_scan_direction";
			gpios = <&gpio4 27 GPIO_ACTIVE_HIGH>; /* SODIMM 184 */
			default-state = "on";
		};

		ts_ckw {
			label = "ts_ckw";
			gpios = <&gpio4 28 GPIO_ACTIVE_HIGH>; /* SODIMM 186 */
			default-state = "on";
		};

		ts_sc {
			label = "ts_sc";
			gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>; /* SODIMM 188 */
			default-state = "off";
		};
	};

	/*
	 * Device specific keys
	 */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio5 20 GPIO_ACTIVE_LOW>; /* SODIMM 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};

		hp_tangenta {
			label = "HP tangenta";
			gpios = <&gpio4 7 GPIO_ACTIVE_LOW>; /* SODIMM 134 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
		};
	};

	/*
	 * LCD Panel
	 */
	panel {
		compatible = "mitsubishi,aa050mh01-da1";
		backlight = <&backlight>;

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&tft_bus_out>;
			};
		};
	};

	backlight: backlight {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_bl_on>;
		compatible = "pwm-backlight";
		enable-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>;	/* soDimm 119 */
		pwms = <&pwm3 0 2000>; /* FixMe: frequency !!! */
		brightness-levels = <0 31 63 95 127 159 191 223 255>;
		default-brightness-level = <5>;
		status = "okay";
	};
};

/*
 * Display subsystem
 */
&tft_bus_out {
	remote-endpoint = <&lcd_panel_in>;
};


/*
 * Colibri I2C: I2C3_SDA/SCL on SODIMM 194/196 (e.g. RTC on carrier board)
 */
&i2c3 {
	status = "okay";

	/* Texas Instruments SBS-compatible Fuel Gauge Controller */
	battery0: bq20z655@b {
		status = "okay";
		compatible = "sbs,sbs-battery";
		reg = <0x0b>;
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <10>;
	};
};

/* Only pwm1 used as bright contol, all other - disabled  */
&pwm3 { status = "okay";	}; /* soDimm 28 - LCD bright */

/* uart1 - sys (3w), uart2 - bluetoth (H3), uart3 disabled by default */
&uart1 { status = "okay"; }; /* default full feature uart */
&uart2 { /* default have CTS/RTS pins */
	status = "okay";

	bluetooth {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bluetooth>;

		enable-gpios	= <&gpio2 3 GPIO_ACTIVE_HIGH>;
		compatible	= "ti,wl1271-st";
		clocks		= <&clk_32k_bt 0>;
		clock-names	= "ext_clock";
		max-speed	= <3686400>;
		/*
		 * Params not found in source, but described in documentation
		 */
		current-speed	= <115200>;
		vio-supply	= <&bt_vio_reg>;
		vbat-supply	= <&p3v3_reg>;
		status = "okay";
	};
};
&uart3 { status = "okay"; }; /* default 3-wire uart */

/* external mmc card */
&usdhc1 { status = "okay"; };

/* Board specific io muxing */
&iomuxc {
	pinctrl_gpio_bl_on: gpioblon {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D4__GPIO2_IO04	0x1b0b0 /* soDimm 119 */
		>;
	};

	pinctrl_bluetooth: gpio-bluetooth {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D3__GPIO2_IO03	0x0f058 /* PU_22K soDimm 117 - nBT_PDN */
		>;
	};

	pinctrl_reg_bt_cif: gpio-reg-bt-cif {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D2__GPIO2_IO02	0x0f058 /* PU_22K soDimm 115: CIF_BT_PWR */
		>;
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07	0xf058 /* soDimm 87. nRESET OUT */
			MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0xf058 /* soDimm124. DISP EN */
			MX6QDL_PAD_DISP0_DAT6__GPIO4_IO27	0xf058 /* soDimm184. DISP SD */
			MX6QDL_PAD_DISP0_DAT7__GPIO4_IO28	0xf058 /* soDimm186. TS CKW */
			MX6QDL_PAD_DISP0_DAT8__GPIO4_IO29	0xf058 /* soDimm188. TS_SC */
		>;
	};

	pinctrl_gpio_keys: gpio-keys {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x1b0b0	/* Power button soDimm 45 */
			MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x1b0b0 /* Tangenta soDimm 134 */
		>;
	};
};
