/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;
#include "imx6qp.dtsi"
#include "imx6qdl-ravion-v2.dtsi"

/ {
	model = "ravion:bm";
	compatible = "ravion,imx6qp", "fsl,imx6qp";

	/*
	 * Device specific regulators
	 */
	pwr_src: regulator_power {
		compatible = "regulator-fixed";
		regulator-name = "BATT_IN";
		/* FixMe: 5...8.4V input voltage */
		regulator-min-microvolt = <8400000>;
		regulator-max-microvolt = <8400000>;
		regulator-boot-on;
		regulator-always-on;
	};

	p5v_reg: regulator_5v0 {
		compatible = "regulator-fixed";
		regulator-name = "P5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	p3v3_reg: regulator_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "P3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	p12v_reg: regulator_12v {
		compatible = "regulator-fixed";
		regulator-name = "P12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on; /* XP61: enable/disable reg. */
	};

	va3v3_reg: regulator_3v3va {
		compatible = "regulator-fixed";
		regulator-name = "VA3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&pwr_src>;
		regulator-boot-on;
		regulator-always-on;
	};

	pps {
		compatible = "pps-gpio";
		gpios	= <&gpio1  2 GPIO_ACTIVE_LOW>;		/* soDimm 055 */
	};

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "Power";
			gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;	/* soDimm 125 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};

		state {
			label = "State";
			gpios = <&gpio4 9 GPIO_ACTIVE_LOW>;	/* soDimm 152 */
			linux,code = <KEY_F1>;
			debounce-interval = <100>;
			wakeup-source;
		};

		ext_call {
			label = "extCALL";
			gpios = <&gpio3 25 GPIO_ACTIVE_LOW>;	/* soDimm 029 */
			linux,code = <KEY_MACRO9>;
			debounce-interval = <100>;
			wakeup-source;
		};

		ext_tangenta {
			label = "extTANGENTA";
			gpios = <&gpio3 20 GPIO_ACTIVE_LOW>;	/* soDimm 027 */
			linux,code = <KEY_F2>;
			debounce-interval = <100>;
			wakeup-source;
		};

		oc1 {
			label = "OC1";
			gpios = <&gpio6 6 GPIO_ACTIVE_LOW>;	/* soDimm 085 */
			linux,code = <KEY_MACRO1>;
			wakeup-source;
		};

		oc2 {
			label = "OC2";
			gpios = <&gpio2 25 GPIO_ACTIVE_LOW>;	/* soDimm 110 */
			linux,code = <KEY_MACRO2>;
			wakeup-source;
		};

		oc3 {
			label = "OC3";
			gpios = <&gpio2 26 GPIO_ACTIVE_LOW>;	/* soDimm 112 */
			linux,code = <KEY_MACRO3>;
			wakeup-source;
		};
	};

	gpio-leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_uart1gpio>;
		compatible = "gpio-leds";

		pwr_ow {
			label = "ow:::pwr";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;	/* soDimm 124 */
			default-state = "on";
		};

		stby_can {
			label = "can::stdby";
			gpios = <&gpio4  8 GPIO_ACTIVE_HIGH>;	/* soDimm 150 */
			default-state = "off";
		};

		charge_red {
			label = "charge::red";
			gpios = <&gpio1  6 GPIO_ACTIVE_LOW>;	/* soDimm 180 */
			default-state = "off";
			};

		charge_green {
			label = "charge::green";
			gpios = <&gpio1  0 GPIO_ACTIVE_LOW>;	/* soDimm184 */
			default-state = "off";
		};

		charge_blue {
			label = "charge::blue";
			gpios = <&gpio7 13 GPIO_ACTIVE_LOW>;	/* soDimm186 */
			default-state = "off";
		};

		status_red {
			label = "status::red";
			gpios = <&gpio1  4 GPIO_ACTIVE_LOW>;	/* soDimm188 */
			default-state = "off";
		};

		status_green {
			label = "status::green";
			gpios = <&gpio4  7 GPIO_ACTIVE_LOW>;	/* soDimm190 */
			default-state = "off";
		};

		status_blue {
			label = "status::blue";
			linux,default-trigger = "heartbeat";
			gpios = <&gpio5 20 GPIO_ACTIVE_LOW>;	/* soDimm192 */
			default-state = "on";
		};

		sys_reset {
			label = "sys::nRESET";
			gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;	/* soDimm 121 */
			default-state = "off";
		};

		pwr5vext1 {
			label = "pwr::5V_EXT1";
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;	/* soDimm059 */
			default-state = "on";
		};

		pwr5vext2 {
			label = "pwr::5V_EXT2";
			gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;	/* soDimm106 */
			default-state = "on";
		};

		pwr5vext3 {
			label = "pwr::5V_EXT3";
			gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;	/* soDimm111 */
			default-state = "on";
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;		/* soDimm 127 */
	};
};

/*
 * Sound subsystem
 */
&ssi2	{	status = "disabled";	};

/*
 * Video subsystems
 */
/* HDMI */
&hdmi {		status = "okay";	};
/* TFT */
&tft_display_bus { status = "disabled"; };
/* LVDS */
&ldb {		status = "disabled";	};

/*
 * Serial ports
 */
/* &uart1 {	status = "okay";	}; => Allways enabled */
&uart2 {
	status = "okay";

	bluetooth { /* DD19: CC2564CRVM */
		enable-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;	/* soDimm 115 */
		compatible = "ti,wl1271-st";
		clocks = <&clk_32k_bt 0>;
		clock-names = "ext_clock";
		max-speed = <3686400>;
		current-speed = <115200>;
		status = "okay";

		clk_32k_bt: bt_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-accuracy = <100>;
		};
	};
};
&uart3 {	status = "okay";	};

/*
 * Controller Area Network (CAN) Bus
 */
&can1 {		status = "okay";	};

/*
 * I2C Busses
 */
&i2c2 {	/* Compatible I2C: soDimm 194, 196 */
	status = "okay";

	ds2482@18 { /* DS2484: I2C to OneWire Converter */
		status = "okay";
		compatible = "maxim,ds2482";
		reg = <0x18>;
	};

	tmp116@48 { /* TMP116: I2C IIO Temperature Sensor with alert */
		status = "okay";
		compatible = "ti,tmp116";
		reg = <0x48>;
	};
};

/* Extended I2C: soDimm 128, 130 */
&i2c3 {
	status = "okay";

	adv7280m@20 { /* ADV7280BCPZ - Composite video capture with MIPI interface */
		compatible = "adi,adv7280-m";
		powerdown-gpios = <&gpio2 11 GPIO_ACTIVE_LOW>;	/* soDimm 133 */
		reg = <0x20>;

		port {
			csi_sensor_out: endpoint {
				remote-endpoint = <&csi_port_in>;
				clock-lanes = <0>;
				data-lanes = <1>;
			};
		};
	};
};

&mipi_csi {
	status = "okay";

	port@0 {
		reg = <0>;
		csi_port_in: endpoint {
			remote-endpoint = <&csi_sensor_out>;
			clock-lanes = <0>;
			data-lanes = <1>;
		};
	};
};

/*
 * SPI Bus
 */
&ecspi1 {
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "okay";

	ks8851@0 {
		reg = <0>;
		compatible = "micrel,ks8851";
		/* FixMe: PME(NU) - soDimm023 (unused) */
		interrupts-extended = <&gpio2 6 IRQ_TYPE_LEVEL_LOW>;	/* soDimm123 */
		vdd-supply = <&p5v_reg>;
		vdd-io-supply = <&p3v3_reg>;
		spi-max-frequency = <25000000>; /* 25MHz, max 40MHz */
       };
};

/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 {	status = "okay";	}; /* compatible */
&usdhc2 {	status = "disabled";	}; /* externed */
/* &usdhc3 {	status = "okay";	}; => eMMC allways enabled */

/*
 * Ethernet controller
 */
/* &fec {	status = "okay";	}; => eth0 allways enabled */

/*
 * Audio (digital part)
 */
/* &audmux {	status = "okay";	}; => Allways enabled */
/* &ssi1 {	status = "okay";	}; => Allways enabled */

/*
 * High-speed serial bus
 */
&pcie {		status = "disabled";	};
&sata {		status = "disabled";	};
&hdmi {		status = "disabled";	};

/* &usbh1 {	status = "okay";	}; HOST => Allways enabled */

&usbotg	{ /* OTG */
	power-active-high;
	status = "okay";
};

&usbh3 { /* HSIC */
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

/*
 * PWMs
 */
&pwm3	{	status = "disabled";	};
&pwm4	{	status = "disabled";	};

